@media (max-width: 1024px) {
    .about__part .about-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .accord > .container {
        width: 100%;
    }

    .works .container {
        width: 90%;
    }

    .hire-content {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 800px) {
    nav.nav .nav__name {
        padding: 20px 0;
    }
    nav.nav .list {
        display: none;
    }

    .about-block .main-info {
        flex-direction: column;
        align-items: center;
    }

    .about-block .main-info .about-img {
        margin-bottom: 50px;
    }
    .about-block .main-info .about-text {
        padding: 0;
    }

    .cert-block .popup img {
        width: 75%;
    }
}

@media (max-width: 675px) {
    .about-block .another-text_nav {
        flex-direction: column;
        align-items: center;
    }

    .about-block .another-text_nav > div {
        margin-left: 0;
    }

    .footer-block div pre {
        flex-direction: column;
    }

    .footer-block div {
        width: 60%;
    }
}

@media (max-width: 440px) {
    .title-block {
        width: 90% !important;
        margin: 0 auto !important;
    }

    .portfolio-item a div {
        font-size: 140% !important;
    }

    .portfolio-item a h3 {
        font-size: 16px;
        margin-bottom: 10px !important;
    }

    .cert-block-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .cert-block-wrapper img {
        width: 85%;
    }

    .cert-block-wrapper img:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .header__intro h1 {
        font-size: 18px;
    }

    .nav__list-btns .list {
        display: none;
    }

    .about-img {
        width: 200px;
        height: 200px;
    }

    .about-img img {
        width: 200px;
    }

    .about__title .title-block .title {
        font-size: 20px;
    }

    .hire-content h3, .hire-content p {
        text-align: center;
    }

    .about-adv img, .about-dis img {
        float: none;
        width: 100%;
        margin-right: 0;
    }

    .portfolio-block {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
        height: 100%;
    }

    .portfolio-item {
        height: 200px;
        margin-bottom: 50px;
    }

    .footer-block .list-contacts {
        flex-wrap: wrap;
    }

    .footer-block .list-contacts li {
        margin: 10px;
    }

    .footer-block div {
        width: 90% !important;
    }
}

@media (max-width: 375px) {
    .title-block {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .works__title .works-block {
        width: 100%;
        margin-left: 0;
    }

    .portfolio-item {
        margin: 20px 0 !important;
    }

    .portfolio-block {
        align-items: center;
    }
}